@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

:root {
  --colorBody: #f2f2f2;
  /* --colorBody: #f6f4f0; */
  --blackColor: black;
  --primary: #7c8c03;
  /* --primary: #2b595e; */
  --cardColor: #dcdadd;
  --font-poppins: "Poppins", sans-serif;
}

.darkMode {
  --colorBody: #2c2c2c;
  --blackColor: white;
  --cardColor: #333333;
  /* --primary:#60c8d3; */
}

@theme {
  --font-lobster: "Lobster", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  /* --rotateAnim: rotateAnim 2000ms forwards infinite; */
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lobster";
  src: url(./fonts/Lobster.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    background-color: var(--colorBody);
    color: var(--blackColor);
  }
}

@layer components {
  .navLinks {
    @apply absolute top-20 left-0 z-[1000] w-full py-10 bg-[var(--colorBody)]  [clip-path:polygon(0_0,100%_0,100%_0,0_0)]   md:static md:w-fit md:bg-transparent md:[clip-path:none]   transition-all duration-1500 ease-in-out;
  }

  .navLinks.open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .focus {
    @apply absolute bottom-0 z-[2]  w-full  py-1 md:py-5  flex justify-end items-center flex-col  gap-4 md:gap-10  [clip-path:polygon(0_100%,100%_100%,100%_100%,0_100%)] transition-all duration-1500 ease-in-out;
  }
  .focus.open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.toggle {
  @apply text-[1em] overflow-hidden transition-all duration-[1500ms] ease-in-out max-h-0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.toggle.open {
  @apply max-h-[500px] pt-[12px] text-center font-normal;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.hoverCard{
  
}
